<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Docker-Dev</title>
</head>
<style>
    form {
    margin-top: 70px;
    margin-bottom: 40px;
    }

</style>
<body class="light-blue">

    {{!-- just for style purposes --}}
    <nav>
        <div class="nav-wrapper white">
        </div>
    </nav>

    <div class="container">
        <h1>Docker</h1>
        <br>
        <h6 font-family="Sans-serif">Hello Docker!!!</h6>
        


       
    </div>

    
</body>
</html>